
/** --------------------------------------------------
1. Change Button, Text, Icon  Color Css start
-------------------------------------------------- **/

/** -------------------------
1.1) Yellow Color Start
-------------------------- **/
body.button-yellow .list-button, body.button-yellow .try-btn, body.button-yellow span.see-all, body.button-yellow  .follow-btn:hover{
	background: #ECBD34;
	border:  #ECBD34 solid 2px;
}
body.button-yellow .like-icon-active .icon-heart-big-3:before, body.button-yellow .like-icon-active span.like-txt {
     color: #ecbd34;
}
body.button-yellow  .select-language-block .btn-toggle > .handle{
	background: #ECBD34;
}
body.button-yellow .premium-page {
	background:  #ECBD34;
}
body.button-yellow .upgrade-saving {
    border: #fff solid 2px !important;
    color: #fff !important;
}
body.button-yellow .banner-carousel .flickity-page-dots .dot.is-selected, body.button-yellow .hashtag-area input[type="checkbox"]:checked + label, body.button-yellow  .live-tag{
	background-color: #ECBD34 !important; 
}
body.button-yellow .icon-seperator:before, body.button-yellow .log-title, body.button-yellow  .login-footer .loginregister {
	color: #ECBD34 !important;
}
 body.button-yellow .follow-btn{
	border-color: #ECBD34;
	color: #ECBD34;
}
body.button-yellow  .auth-wraper.auth-page .signup:hover a, body.button-yellow  .auth-life-txt .auth-btn:hover a{
	color:#fff !important;
}
body.button-yellow .tab-link-active .tabbar-label,body.button-yellow .tab-link-active p, body.button-yellow .tab-link:hover .tabbar-label, body.button-yellow .tab-link:hover p{
	color: #ECBD34 !important;
}
body.button-yellow  .tab-link-active.nav-link::before, body.button-yellow  a.nav-link.tab-link.categorylist.tab-link-active:hover:before{
	background-color: #ECBD34;
}
body.button-yellow .list-button:hover{
	background: transparent;
	color:#ECBD34;
}
body.button-yellow  .cat-content .active .cat-icon{
	border: 1px solid #ECBD34;
	background-color: #ECBD34;
}
body.button-yellow.intrest-page, body.button-yellow .main-area.intrest-area{
	background: #ECBD34;
}
body.button-yellow .loadMore{
	border: 1px solid #ECBD34;
	color: #ecbd34;
}
body.button-yellow .loadMore:hover, body.button-yellow .btn-common:hover {
	background:#ECBD34;
	color: #fff !important;
}
body.button-yellow .profile-block .follow-author button.author-btn{
	border-color: #ECBD34;
	color: #ECBD34;
}
body.button-yellow .contact-page-inner .btn-common,body.button-yellow .follow-btn-auth {
	border: 2px solid #ECBD34;
	color: #ECBD34;
}
 
body.button-yellow  li.nav-item.active .nav-link:before, body.button-yelloe  #offline-video .carousel-indicators li.active {
	background: #ECBD34;
}
body.button-yellow .upgrade-btn.follow-btn {
	background: #ECBD34 !important;
	color: #fff;
}
body.button-yellow .news-test .icon-arrow-down2:before{
	color: #ECBD34;
}
body.button-yellow .recent-article a.next-page .icon-arrow-big:before, body.button-yellow .skip-page, body.button-yellow .skip-page a, body.button-yellow  .cat-content .active span.allnews {
    color: #ECBD34;
}
body.night-mode-on.button-yellow .nav-item.active .nav-link {
    color: #ECBD34 !important;
}
body.button-yellow .lifetime.button-btn.auth-btn:hover .follow-btn, body.button-yellow .description-cont.story-con .signup:hover .follow-btn {
    color: #fff;
}
body.button-yellow .startpage-3 .flickity-page-dots .dot.is-selected {
    background: #ECBD34;
}
body.night-mode-on.button-yellow  a.skip-base {
    color: #ECBD34;
}
body.night-mode-on.button-yellow .customize-notifications {
    background: #ECBD34;
}
 body.button-yellow.night-mode-on .customize-notifications .hashtag-area input[type="checkbox"]:checked + label{
 	background-color: #fff !important;
 }
body.button-yellow.night-mode-on .categories .hashtag-area.pill-container input[type="checkbox"]:checked + label, body.button-yellow .followed-active {
    border: #ECBD34 solid 1px;
    color: #fff;
    background: #ECBD34;
}
body.button-yellow  .auth-page .follow-btn{
	border: #ECBD34 solid 1px;
}
body.button-yellow .build-feed-1 a.follow-btn {
    border-color: transparent;
}
body.button-yellow .build-feed-1 a.list-button:hover {
    border: transparent;
    background: #fff;
}
body.button-yellow .build-feed-1 .signup.bottom-fixed .list-button:hover {
    border: #ecbd34 solid 1px;
    background: #ecbd34;
    color: #fff;
}
body.button-yellow .build-my-feed-2 a.skip-base {
    color: #ecbd34;
}
body.button-yellow span.icon-content-style.nav-icon:before {
    color: #ecbd34 !important;
}
.button-yellow button.author-btn {
    color: #ecbd34;
    border: 1px solid #ecbd34;
}
.button-yellow .add-following {
    background: #ecbd34 !important;
    border: #ecbd34 solid 1px !important;
}

/** -------------------------
Yellow Color Ends 
-------------------------- **/


/** -------------------------
1.2) Orchid Color Start
-------------------------- **/
body.button-orchid .list-button, body.button-orchid .try-btn, body.button-orchid span.see-all, body.button-orchid .follow-btn:hover, body.button-orchid .follow-btn:hover{
	border-color:#C281D1;
	background-color:#C281D1;
}
body.button-orchid .like-icon-active .icon-heart-big-3:before, body.button-orchid .like-icon-active span.like-txt{
    color: #C281D1;
}
body.button-orchid  .select-language-block .btn-toggle > .handle{
	background: #C281D1;
}
body.button-orchid .upgrade-saving {
    border: #fff solid 2px !important;
    color: #fff !important;
}
body.button-orchid .premium-page {
	background:  #C281D1;
}
body.button-orchid  .banner-carousel .flickity-page-dots .dot.is-selected, body.button-orchid .hashtag-area input[type="checkbox"]:checked + label,  body.button-orchid  .live-tag{
	background-color: #C281D1 !important; 
}
body.button-orchid .icon-seperator:before,  body.button-orchid  .log-title, body.button-ochicd  .login-footer .loginregister {
	color: #C281D1 !important;
}
body.button-orchid .auth-page .follow-btn, body.button-orchid .follow-btn{
	border-color: #C281D1;
	color: #C281D1;
}
body.button-orchid .auth-wraper.auth-page .signup:hover a, body.button-orchid .auth-life-txt .auth-btn:hover a{
	color:#fff !important;
}
body.button-orchid  .tab-link-active .tabbar-label, body.button-orchid .tab-link-active p, body.button-orchid .tab-link:hover .tabbar-label, body.button-orchid .tab-link:hover p{
	color: #C281D1 !important;
}
body.button-orchid  .tab-link-active.nav-link::before, body.button-orchid  a.nav-link.tab-link.categorylist.tab-link-active:hover:before{
	background-color: #C281D1;
}
body.button-orchid .list-button:hover, body.button-orchid .btn-common:hover{
	background: transparent;
	color: #C281D1;
}
body.button-orchid  .cat-content .active .cat-icon{
	border: 1px solid #C281D1;
	background-color: #C281D1;
}
body.button-orchid.intrest-page, body.button-orchid .main-area.intrest-area{
	background: #C281D1;
}
body.button-orchid .loadMore, body.button-orchid .follow-btn-auth {
	border: 1px solid #C281D1;
	color: #C281D1;
}
body.button-orchid .loadMore:hover, body.button-orchid .contact-page-inner .btn-common:hover {
	background:#C281D1;
	color: #fff;
}
body.button-orchid .profile-block .follow-author button.author-btn{
	border-color: #C281D1;
	color: #C281D1;
}
body.button-orchid .contact-page-inner .btn-common {
	border: 2px solid #C281D1;
	color: #C281D1;
}
body.button-orchid  li.nav-item.active .nav-link:before, body.button-orchid  #offline-video .carousel-indicators li.active, body.button-orchid .startpage-3 .flickity-page-dots .dot.is-selected  {
	background: #C281D1;
}
body.button-orchid .upgrade-btn.follow-btn {
	background: #C281D1 !important;
	color: #fff;
}
body.button-orchid .news-test .icon-arrow-down2:before{
	color: #C281D1;
}
body.button-orchid .recent-article a.next-page .icon-arrow-big:before, body.button-orchid .skip-page a, body.button-orchid  .cat-content .active span.allnews {
    color: #C281D1;
}
body.night-mode-on.button-orchid .nav-item.active .nav-link {
    color: #C281D1 !important;
}
body.button-orchid .lifetime.button-btn.auth-btn:hover .follow-btn, body.button-orchid .description-cont.story-con .signup:hover .follow-btn {
    color: #fff;
}

body.night-mode-on.button-orchid  a.skip-base {
    color: #C281D1;
}
body.night-mode-on.button-orchid .customize-notifications {
    background: #C281D1;
}
 body.button-orchid.night-mode-on .customize-notifications .hashtag-area input[type="checkbox"]:checked + label{
 	background-color: #fff !important;
 }
body.button-orchid.night-mode-on .categories .hashtag-area.pill-container input[type="checkbox"]:checked + label,  body.button-orchid .followed-active {
    border: #C281D1 solid 1px;
    color: #fff;
    background: #C281D1;
}
body.button-orchid .build-feed-1 a.follow-btn {
    border-color: transparent;
}
body.button-orchid .build-feed-1 a.list-button:hover {
    border: transparent;
    background: #fff;
}
body.button-orchid .build-feed-1 .signup.bottom-fixed .list-button:hover {
    border: #C281D1 solid 1px;
    background: #C281D1;
    color: #fff;
}
body.button-orchid .build-my-feed-2 a.skip-base {
    color: #C281D1;
}
body.button-orchid span.icon-content-style.nav-icon:before {
    color: #C281D1 !important;
}
.button-orchid button.author-btn {
    color: #C281D1;
    border: 1px solid #C281D1;
}
.button-orchid .add-following {
    background: #C281D1 !important;
    border: #C281D1 solid 1px !important;
}
/** ===================================================
Orchid Color Ends
=================================================== **/

/** ===================================================
1.3) Chino Color Start
=================================================== **/

body.button-chino .list-button, body.button-chino .try-btn, body.button-chino  span.see-all, body.button-chino  .follow-btn:hover,  body.button-chinoy .loadMore:hover{
	border-color: #8BB0BA;
	background-color: #8BB0BA;
}
body.button-chino .like-icon-active .icon-heart-big-3:before, body.button-chino .like-icon-active span.like-txt{
    color: #8BB0BA;
}
body.button-chino  .select-language-block .btn-toggle > .handle{
	background: #8BB0BA;
}
body.button-chino .upgrade-saving {
    border: #fff solid 2px !important;
    color: #fff !important;
}
body.button-chino .premium-page {
	background: #8BB0BA;
}
body.button-chino .banner-carousel .flickity-page-dots .dot.is-selected, body.button-chino .hashtag-area input[type="checkbox"]:checked + label,  body.button-chino  .live-tag{
	background-color: #8BB0BA !important; 
}
body.button-chino  .icon-seperator:before,  body.button-chino  .log-title, body.button-chino  .login-footer .loginregister {
	color:#8BB0BA !important;
}
body.button-chino .auth-page .follow-btn, body.button-chino .follow-btn{
	border-color: #8BB0BA;
	color: #8BB0BA;
}
body.button-chino .auth-wraper.auth-page .signup:hover a, body.button-chino .auth-life-txt .auth-btn:hover a{
	color:#fff !important;
}
body.button-chino  .tab-link-active .tabbar-label, body.button-chino .tab-link-active p, body.button-chino .tab-link:hover .tabbar-label, body.button-chino .tab-link:hover p{
	color: #8BB0BA !important;
}
body.button-chino  .tab-link-active.nav-link::before, body.button-chino  a.nav-link.tab-link.categorylist.tab-link-active:hover:before{
	background-color: #8BB0BA;
}
body.button-chino .list-button:hover{
	background: transparent;
	color: #8BB0BA;
}
body.button-chino  .cat-content .active .cat-icon{
	border: 1px solid #8BB0BA;
	background-color: #8BB0BA;
}
body.button-chino.intrest-page, body.button-chino .main-area.intrest-area, body.button-chino .startpage-3 .flickity-page-dots .dot.is-selected {
	background:#8BB0BA !important;
}
body.button-chino .loadMore, body.button-chino .follow-btn-auth {
	border: 1px solid  #8BB0BA;
	color:  #8BB0BA;
}
body.button-chino .loadMore:hover, body.button-chino .btn-common:hover, body.button-chino .contact-page-inner .btn-common:hover {
	background: #8BB0BA;
	color: #fff;
}
body.button-chino .profile-block .follow-author button.author-btn{
	border-color: #8BB0BA;
	color: #8BB0BA;
}
body.button-chino .contact-page-inner .btn-common {
	border: 2px solid #8BB0BA;
	color: #8BB0BA;
}
 body.button-chino  li.nav-item.active .nav-link:before, body.button-chino  #offline-video .carousel-indicators li.active {
	background: #8BB0BA;
}
body.button-chino .upgrade-btn.follow-btn {
	background: #8BB0BA !important;
	color: #fff;
}
body.button-chino .news-test .icon-arrow-down2:before, body.button-chino .skip-page a{
	color: #8BB0BA;
}
body.button-chino .recent-article a.next-page .icon-arrow-big:before,  body.button-chino  .cat-content .active span.allnews {
    color: #8BB0BA;
}
body.night-mode-on.button-chino .nav-item.active .nav-link {
    color: #8BB0BA !important;
}
body.button-chino .lifetime.button-btn.auth-btn:hover .follow-btn, body.button-chino .description-cont.story-con .signup:hover .follow-btn {
    color: #fff;
}
body.night-mode-on.button-chino  a.skip-base {
    color:#8BB0BA;
}
body.night-mode-on.button-chino .customize-notifications {
    background: #8BB0BA;
}
 body.button-chino.night-mode-on .customize-notifications .hashtag-area input[type="checkbox"]:checked + label{
 	background-color: #fff !important;
 }
body.button-chino.night-mode-on .categories .hashtag-area.pill-container input[type="checkbox"]:checked + label,  body.button-chino .followed-active {
    border: #8BB0BA solid 1px;
    color: #fff;
    background: #8BB0BA;
}
body.button-chino .build-feed-1 a.follow-btn {
    border-color: transparent;
}
body.button-chino .build-feed-1 a.list-button:hover {
    border: transparent;
    background: #fff;
}
body.button-chino .build-feed-1 .signup.bottom-fixed .list-button:hover {
    border: #8BB0BA solid 1px;
    background: #8BB0BA;
    color: #fff;
}
body.button-chino .build-my-feed-2 a.skip-base {
    color: #8BB0BA;
}
body.button-chino span.icon-content-style.nav-icon:before {
    color: #8BB0BA !important;
}
.button-chino button.author-btn {
    color: #8BB0BA;
    border: 1px solid #8BB0BA;
}
.button-chino .add-following {
    background: #8BB0BA !important;
    border: #8BB0BA solid 1px !important;
}

/** -------------------------------------------------
Chino Color Ends
--------------------------------------------------- **/

/** --------------------------------------------------
1.4) Mandy Color Start
--------------------------------------------------- **/
body.button-mandy .list-button, body.button-mandy .try-btn, body.button-mandy span.see-all, body.button-mandy .loadMore:hover{
	border: #EC5E78 solid 1px;
	background-color: #EC5E78;
}
body.button-mandy .like-icon-active .icon-heart-big-3:before, body.button-mandy .like-icon-active span.like-txt{
    color: #EC5E78;
}
body.button-mandy .follow-btn:hover {
    color: #fff !important;
    background: #EC5E78;
    border-color: #ec5e78;
}
body.button-mandy .upgrade-saving {
    border: #fff solid 2px !important;
    color: #fff !important;
}
body.button-mandy .premium-page {
	background: #EC5E78;
}
body.button-mandy  .select-language-block .btn-toggle > .handle{
	background: #EC5E78;
}
body.button-mandy .banner-carousel .flickity-page-dots .dot.is-selected,  body.button-mandy  .live-tag{
	background-color: #EC5E78 !important; 
}
body.button-mandy .icon-seperator:before,  body.button-mandy .log-title, body.button-mandy  .login-footer .loginregister {
	color: #EC5E78 !important;
}
body.button-mandy .auth-page .follow-btn, body.button-mandy .follow-btn, body.button-mandy .loadMore{
	border-color:#EC5E78;
    color: #ec5e78;
}
body.button-mandy .follow-btn-auth {
	border:#EC5E78 solid 1px;
    color: #ec5e78;
}
body.button-mandy .auth-wraper.auth-page .signup:hover a, body.button-mandy .auth-life-txt .auth-btn:hover a{
	color:#fff !important;
}
body.button-mandy .tab-link-active .tabbar-label, body.button-mandy .tab-link-active p, body.button-mandy .tab-link:hover .tabbar-label, body.button-mandy .tab-link:hover p{
	color: #EC5E78;
}
body.button-mandy .list-button:hover {
    background: transparent;
    color: #EC5E78;
}
body.button-mandy .cat-content .active .cat-icon{
	border: 1px solid #EC5E78;
	background-color:#EC5E78;
}
body.button-mandy.intrest-page, body.button-mandy .main-area.intrest-area{
	background: #ec5e78;
}
body.button-mandy .loadMore{
	border-color: #EC5E78;
}
body.button-mandy .loadMore:hover, body.button-mandy .btn-common:hover, body.button-mandy .contact-page-inner .btn-common:hover {
	background: #EC5E78;
	color: #fff;
}
body.button-mandy .profile-block .follow-author button.author-btn{
	border-color: #EC5E78;
	color: #EC5E78;
}
body.button-mandy .profile-block .follow-author button.author-btn:hover {
	background: #EC5E78;
	color: #fff;
}
body.button-mandy .contact-page-inner .btn-common {
	border: 2px solid #EC5E78;
	color: #EC5E78;
}
body.button-mandy  #offline-video .carousel-indicators li.active, body.button-mandy .startpage-3 .flickity-page-dots .dot.is-selected{
	background:#EC5E78;
}

body.button-mandy .news-test .icon-arrow-down2:before,  body.button-mandy .skip-page a {
	color: #EC5E78;
}
body.button-mandy  .tab-link-active .tabbar-label, body.button-mandy .tab-link-active p, body.button-mandy .tab-link:hover .tabbar-label, body.button-mandy .tab-link:hover p{
	color: #EC5E78 !important;
}
body.button-mandy .tab-link-active.nav-link::before, body.button-mandy  a.nav-link.tab-link.categorylist.tab-link-active:hover:before, body.button-mandy  li.nav-item.active .nav-link:before{
	background-color: #EC5E78;
}
body.button-mandy .recent-article a.next-page .icon-arrow-big:before,  body.button-mandy  .cat-content .active span.allnews {
    color: #EC5E78;
}
body.night-mode-on.button-mandy .nav-item.active .nav-link {
    color: #EC5E78 !important;
}
body.button-mandy .lifetime.button-btn.auth-btn:hover .follow-btn, body.button-mandy .description-cont.story-con .signup:hover .follow-btn {
    color: #fff;
}
body.night-mode-on.button-mandy a.skip-base {
    color:  #EC5E78;
}
body.night-mode-on.button-mandy .customize-notifications {
    background: #EC5E78;
}
 body.button-mandy.night-mode-on .customize-notifications .hashtag-area input[type="checkbox"]:checked + label{
 	background-color: #fff !important;
 }
body.button-mandy.night-mode-on .categories .hashtag-area.pill-container input[type="checkbox"]:checked + label,  body.button-mandy .followed-active  {
    border: #EC5E78 solid 1px;
    color: #fff;
    background: #ec5e78;
}
body.button-mandy .build-feed-1 a.follow-btn {
    border-color: transparent;
}
body.button-mandy .build-feed-1 a.list-button:hover {
    border: transparent;
    background: #fff;
}
body.button-mandy .build-feed-1 .signup.bottom-fixed .list-button:hover {
    border: #EC5E78 solid 1px;
    background: #EC5E78;
    color: #fff;
}
body.button-mandy .build-my-feed-2 a.skip-base {
    color: #EC5E78;
}
body.button-mandy span.icon-content-style.nav-icon:before {
    color: #ec5e78 !important;
}
.button-mandy button.author-btn {
    color: #ed6e85;
    border: 1px solid #ed6e85;
}
.button-mandy .add-following {
    background: #ec5e78 !important;
    border: #ec5e78 solid 1px !important;
}

/** -------------------------
Mandy Color Ends
-------------------------- **/
